.ejal{
    margin-left: 400px;
}
.peptidyal{
    margin-left: 400px;
    margin-bottom: 50px;
}
.genyal{
    margin-left: 400px;
    margin-bottom: 50px;
}
:host{
    color: white;
}
.content{
    margin-top: 50px;
}