:host{
    color: white;
}
.text{
    width: 810px;
    margin-left: 374px;
}
img{
    height: 300px;
    margin-bottom: -50px;
    margin-top: -60px;
    margin-left: 200px;
}
hr{
    background-color: rgb(0, 153, 255);
}

#description,
#structure,
#tasks,
#benefits,
#contraindications{
    display: none;   
}   

.btn-details{
    color: white;
    background-color: #343a40;
    height: 50px;
    margin-top: 5px;
    width: 812px;
    border: 5px solid #505a65;
    border-radius: 10px;
    color: white;
    
}
.btn-details:hover{
    background-color: rgba(128, 128, 128, 0.26);
    color:  rgb(0, 153, 255);
    font-style: italic;
   
}

#showdescription,
#showstructure,
#showtasks,
#showbenefits,
#showtext{
    position: relative;
    left: 770px;
    top: -50px;
    font-size: 32px;
}

#hidetasks,
#hidebenefits,
#hidestructure,
#hidedescription,
#hidetext{
    margin-left: 770px;
    margin-top: -60px;
    font-size: 42px;
    display: none;
}