<div class="details">
    <div class="text">

        <img class="local" src="assets/img/xcelens4.png" alt="">

        <hr>
        <button (click)="showdescription()" class="btn-details" id="myBtn"> Опиcание:</button>
        <span id="showdescription">+</span> <span id="hidedescription">-</span>

        <span id="description">
            <p>Швейцарская научно-исследовательская группа Xcelens, опыт и надежность которой уже заслужили
                международное признание, рада представить инновационный наполнитель, сочетающий великолепную
                эффективность с полным отсутствием боли (по результатам опросов пациентов).
                Xcelens Extra 4 совмещают безопасность высокоочищенной гиалуроновой кислоты в концентрации 23мг/мл,
                сшитой BDDE, с высокой степенью комфорта, обеспечиваемого наличием лидокаина — 0,3%.
                Компоненты большинства наполнителей на рынке сшиты по типу клубка, в то время как продукты Xcelens
                изготавливают из стабилизированной гиалуроновой кислоты со сшивкой по типу сетки, благодаря чему Xcelens
                Extra 4 содержат 4 цепи гиалуроновой кислоты разной длины, соответственно, в дополнение к «свободной»
                гиалуроновой кислоте в инновационном геле Gel Xcelens.

                Xcelens Extra 4 – представляет собой филлер-контур, волюмайзер. Разработан для заполнения глубоких и
                средних морщин, коррекции области подбородка и щек, контура челюсти и небольших ямочек. Основными
                характеристиками, позволяющими поддерживать ЕСТЕСТВЕННЫЙ внешний вид после инъекции, являются вязкость,
                мягкость и эластичность.
                Объем — 1 МЛ
            </p>
        </span>
        <hr>

        <button (click)="showstructure()" class="btn-details" id="myBtnStruct">Состав:</button>
        <span id="showstructure">+</span> <span id="hidestructure">-</span>
        <span id="structure">
            <ul class="structure">
                <li>Концентрация ГК — 23 МГ/МЛ</li>
                <li>Ретикулярный агент — BDDE</li>
                <li>Степень сшивки — *****</li>
                <li>Динамическая вязкость — 1 950 000 mPas</li>
                <li>Лидокаин — 0,3 %</li>
            </ul>
        </span>
        <hr>

        <button (click)="showtasks()" class="btn-details" id="myBtnTasks">Эстетические задачи:</button>
        <span id="showtasks">+</span> <span id="hidetasks">-</span>
        <span id="tasks">

            <ul class="tasks">
                <li>глубокие морщины и складки</li>
                <li>контур челюсти</li>
                <li>область подбородка и щек</li>
                <li>носогубные складки</li>
                <li>коррекция ямочек</li>
                <li>увеличение объема и коррекция контуров губ</li>
            </ul>
        </span>
        <hr>

        <button (click)="showbenefits()" class="btn-details" id="myBtnBenefits">Преимущества:</button>
        <span id="showbenefits">+</span> <span id="hidebenefits">-</span>
        <span id="benefits">

            <ul class="benefits">
                <li>естественный результат коррекции</li>
                <li>пролонгированный эффект в течение 8-12 месяцев</li>
                <li>равномерная ретикуляция – препарат разрушается последовательно, уменьшение объемов происходит
                    постепенно, без формирования «островков» и бугристостей.</li>
                <li> наименьшее допустимое количество BDDE</li>
            </ul>
        </span>
        <hr>

        <button (click)="showtext()" class="btn-details" id="myBtn">Противопоказания:</button>
        <span id="showtext">+</span> <span id="hidetext">-</span>
        <span id="contraindications">

            <ul class="contraindications">
                <li>гиперчувствительность к компонентам препаратов</li>
                <li>склонность к развитию гипертрофических рубцов</li>
                <li>воспалительные процессы в зоне планируемых инъекций (герпес, акне и проч.)</li>
                <li>злокачественные новообразования, заболевания крови</li>
                <li>аутоиммунные заболевания или проведение иммуносупрессивной терапии</li>
                <li>беременность и период лактации</li>
                <li>возраст моложе 18 лет</li>
            </ul>
        </span>
        <hr>

    </div>
</div>