.seminars{
    font-size: 26px;
    text-align: center;
    border: 3px solid;
    margin-left: 400px;
    width: 800px;
    border-radius: 10px;
    border: 5px solid;
    border-color: #505a65;
    margin-top: 10px;
    font-style: italic;
    background-color: #343a4085;  
    color: white;
}
.btn-sm{
    background-color: #343a40;
    height: 50px;
    margin-top: 5px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 5px solid;
    border-color: #505a65;
    margin-right: -20px;
    color: white;
}
    

.btn-sm:hover{
    background-color: rgba(128, 128, 128, 0.26);
    color:  rgb(0, 153, 255);
    font-style: italic;
}
hr{
    background-color: rgb(0, 153, 255);
    width: 800px;
    margin-left: 400px;
}
