<div class="seminars">
    <p>«Косметолог и гинеколог-эндокринолог: работа в тандеме»</p>
    <button class="btn-sm" routerLink="tandems">Подробности</button>
</div>
<hr>
<div class="seminars">
    <p>«Безоперационная ринопластика»</p>
    <button class="btn-sm" routerLink="rinoplastic">Подробности</button>
</div>
<hr>
<div class="seminars">
    <p>«Осложнения в инъекционной косметологии: причины, программы реабилитации и способы профилактики»</p>
    <button class="btn-sm" routerLink="complications">Подробности</button>
</div>
<hr>
<div class="seminars">
    <p>«Объемное моделирование лица»</p>
    <button class="btn-sm" routerLink="modeling">Подробности</button>
</div>
<hr>