<div class="details">
    <div class="text">

        <img class="local" src="assets/img/genyal.png" alt="">

        <hr>
        <button (click)="showdescription()" class="btn-details" id="myBtn"> Опиcание:</button>
        <span id="showdescription">+</span> <span id="hidedescription">-</span>

        <span id="description">
            <p>
                Универсальный структурный филлер Genyal Polyvalent, благодаря пластичности и идеальному распределению в
                мягких тканях, используется для любых видов контурной коррекции. Регулярная пространственная структура
                препарата обеспечивает высочайшую степень интеграции с мягкими тканями. Естественный результат
                коррекции: препарат не заметен окружающим и неощутим для пациента.
                Высокий показатель молекулярной массы молекул гиалуроновой кислоты — 3 млн. дальтон — обеспечивает
                пролонгированный эффект 8-12 месяцев. Еще одна положительная особенность препарата — равномерная
                ретикуляция, благодаря чему препарат разрушается последовательно, уменьшение объемов происходит
                постепенно, без формирования «островков» и «бугристостей».
            </p>
            <ul>
                <li> Страна: Швейцария</li>
                <li>Производитель: GENYAL</li>
                <li>Объем \ Форма выпуска: 1 шприц/1 мл</li>
            </ul>
        </span>
        <hr>

        <button (click)="showpenance()" class="btn-details" id="myBtnPenance">Показания:</button>
        <span id="showpenance">+</span> <span id="hidepenance">-</span>
        <span id="penance">
            <ul class="penance">
                <li> коррекция морщин и складок любой глубины </li>
                <li> формирование контура губ и достижения естественного результата при увеличении их объема</li>
                <li> биоармирование: на лице, шее, в зоне декольте, на тыльной поверхности кистей, предплечьях, бедрах,
                    животе</li>
            </ul>
        </span>
        <hr>

        <button (click)="showstructure()" class="btn-details" id="myBtnStruct">Состав:</button>
        <span id="showstructure">+</span> <span id="hidestructure">-</span>
        <span id="structure">
            <p>Пластичный филлер идеален для биоармирования в любой зоне. Обладает минимальной гидрофильностью — уже
                через час после процедуры в зоне введения не наблюдается явлений отека, гиперемии, эффект
                «гипергидратации» также исключен.
            </p>
            <ul class="structure">
                <li>Концентрация ГК – 23 мг/мл </li>
                <li>Стабилизатор – BDDE 0,4 ppm</li>
                <li>Динамическая вязкость – 50 000 mPa.s</li>
                <li>Молекулярная масса – 3 mln di Dalton</li>
                <li>Белки (PPM) – 11</li>
                <li>Энтотоксинов (EU/G) – < 0,05</li>
                <li>Игла - 27G/ канюля 25G/27G</li>
                <li>Продолжительность действия — продолжительный эффект от 8 месяцев.</li>
            </ul>
        </span>
        <hr>

    </div>
</div>