<div class="brandcard" id="card1">
   <img class="local" src="assets/img/genyal2.png" alt="">
   <div class="description">
      <h1>Genyal
         <br>
         Volume</h1>
   </div>
   <button class="details nav-link" routerLinkActive="active" routerLink="genyal-volume" type="button">
      <span btn-description>Подробно</span>
   </button>
</div>


<div class="brandcard" id="card2">
   <img class="local" src="assets/img/genyalift.png" alt="">
   <div class="description">
      <h1>Genyal Genyalift</h1>
   </div>
   <button class="details nav-link" routerLinkActive="active" routerLink="genyal-genyalift" type="button">
      <span btn-description>Подробно</span>
   </button>
</div>

<div class="brandcard" id="card3">
   <img class="local" src="assets/img/genyal.png" alt="">
   <div class="description">
      <h1>Genyal Polyvalent</h1>
   </div>
   <button class="details nav-link" routerLinkActive="active" routerLink="genyal-polyvalent" type="button">
      <span btn-description>Подробно</span>
   </button>
</div>