<div class="details">
    <div class="text">

        <img class="local" src="assets/img/genyal2.png" alt="">

        <hr>
        <button (click)="showdescription()" class="btn-details" id="myBtn"> Опиcание:</button>
        <span id="showdescription">+</span> <span id="hidedescription">-</span>

        <span id="description">
            <p>
                <b>Volumae - универсальный объемный филлер, который используется для волюметрической или
                    3D-коррекции.</b>
                <br>
                1.Концентрация гиалуроновой кислоты 23 мг/мл в сочетании с высокой степенью ретикуляции обеспечивает
                равномерное распределение препарата в тканях и гарантирует выраженный объем. Естественный результат
                коррекции заметен сразу после процедуры.
                <br>
                2.Отсутствие гиперемии, отека, болезненных ощущений обеспечивается регулярной структурой препарата и
                физиологичным pH 7,1.
                <br>
                3.Отличительная особенность продукта — полная биодеградация, которую может гарантировать лишь четвертое
                поколение филлеров.
                <br>
                4.Продолжительность действия — от 8 до 18 месяцев.
            </p>
        </span>
        <hr>

        <button (click)="showpenance()" class="btn-details" id="myBtnPenance">Показания:</button>
        <span id="showpenance">+</span> <span id="hidepenance">-</span>
        <span id="penance">
            <ul class="penance">
                <li> Увеличение объема губ, элевация уголков рта </li>
                <li>Увеличение объема скуловой области.Изменение формы подбородка</li>
                <li> Коррекция овала лица, углов нижней челюсти моделирование формы носа.</li>
                <li> Производитель: GENYAL</li>
                <li> Объем \ Форма выпуска: 1 шприц/1 мл.</li>
            </ul>
        </span>
        <hr>

        <button (click)="showstructure()" class="btn-details" id="myBtnStruct">Состав:</button>
        <span id="showstructure">+</span> <span id="hidestructure">-</span>
        <span id="structure">
            <p>Единственный в своем роде продукт, обеспечивающий абсолютный результат, и не вызывающийявлений
                дискомфорта как в мягких тканях, так и при супрапериостальном введении</p>
            <ul class="structure">
                <li> Концентрация ГК — 23 мг/мл</li>
                <li>Стабилизатор — BDDE 0,53 ppm/li>
                <li>Динамическая вязкость — 1 000 000 mPa.s</li>
                <li>Молекулярная масса — 3 mln di Dalton</li>
                <li>Белки (PPM) — 8,7</li>
                <li>Энтотоксинов (EU/G) — < 0,05</li>
                <li>Игла — 27G/ канюля 25G</li>
            </ul>
        </span>
        <hr>

        <button (click)="showprotocol()" class="btn-details" id="myBtnProtocol">Протокол:</button>
        <span id="showprotocol">+</span> <span id="hideprotocol">-</span>
        <span id="protocol">
            <p>
                Введение препарата осуществляется как иглой, так и канюлей.
                <br>
                Глубина введения: средняя и глубокая дерма, внутримышечно, надкостнично.
            </p>
        </span>
        <hr>

    </div>
</div>