<div class="tandems">
    <h1>Семинар «Косметолог и гинеколог-эндокринолог: работа в тандеме»</h1>
    <span>
       <p>Теоретическая часть:</p>
    <ol>        
       <li>Один в поле не воин: когда гинекологу и косметологу необходимо работать в тандеме</li>
        
       <li>Влияние гормонального фона на состояние организма женщины и эффективность косметологических процедур</li>
        
       <li>«Диагностический минимум»: с чего начать обследование</li>
        
       <li>Щитовидная железа, поджелудочная железа, репродуктивная система: распространенные нарушения, их симптоматика и способы коррекции</li>
        
       <li>Особенности гормонального фона и его изменения в период,приближающийся к менопаузе</li>
        
       <li>Эстетическая и гормональная коррекция женщин в пре- и менопаузе: как сохранить и улучшить качество жизни в этот период и после него</li>
    </ol>

    </span>
    <br>
    <span>
       <p>Во время семинара Вы узнаете:</p>
    <ol>
        <li>Как «с порога» распознать пациента с эндокринными нарушениями</li>

        <li>На что следует обращать внимание и о чем спрашивать во время первичной консультации</li>

        <li>Какие лабораторные исследования назначить таким пациентам</li>

        <li>Типичные поражения кожи, указывающие на проблемы со щитовидной железой, репродуктивной системой</li>

        <li>Какие неожиданные последствия и неадекватные реакции у пациентов с эндокринными нарушениями могут вызвать косметологические процедуры</li>

        <li>Почему препараты не действуют Диабет, гипо- и гипертиреоз, СПКЯ, ожирение: как вести сложных  пациентов</li>

        <li>«Неудобные» заболевания. ИППП: кого и когда нужно лечить</li>

        <li>Нюансы контрацепции, заместительной гормональной терапии</li>

        <li>Если не гормоны, то что: терапия фитоэстрогенами</li>
    </ol>
    </span>
    <p>
        Практическая часть
    </p>
     <p>
        Семинар без практической части (возможен разбор клинических случаев по желанию участников семинара)
     </p>
</div>