<div class="modeling">
    <h1>Семинар «Объемное моделирование лица»</h1>
    <span>
       <p>Теоретическая часть:</p>
    <ul>        
        <li>Объемное моделирование в современной эстетической медицине</li>

        <li>Последние тренды в контурной пластике и объемном моделировании («хочу, как у Джоли», «инстаграмное» лицо и т.д.)</li>
        
        <li>Анатомия лица: особенности кровоснабжения и опасные зоны</li>
        
        <li>Показания и противопоказания к проведению объемного моделирования</li>
        
        <li>Этапность подготовки к объемному моделированию, выбор и использование липолитиков</li>
        
        <li>Выбор филлера: свойства современных препаратов, механизмы биодеградации гиалуроновой кислоты после введения в ткани, физико-химические параметры филлеров-волюмайзеров</li>
        
        <li>Преимущества швейцарских филлеров Genyal и Xcelens</li>
        
        <li>Программы коррекции при различных морфотипах лица («усталое» лицо, мелкоморщинистый, деформационный типы)</li>
        
        <li>Коррекция различных зон (носослезная борозда, скулы, височная область, лоб, носогубные складки, углы Джоли, овал лица): основные техники в зависимости от архитектоники лица</li>
        
        <li>Особенности работы канюлей</li>
        
        <li>Возможные осложнения и способы их коррекции</li>
    </ul>

    </span>
    <br>
    <p>
        Практическая часть
    </p>
    <p>
        Мастер-класс с демонстрацией на модели
    </p>
</div>