.rinoplastic{
    font-size: 26px;
    text-align: inherit;
    border: 3px solid;
    margin-left: 400px;
    width: 88%;
    border-radius: 10px;
    border: 5px solid;
    border-color: #505a65;
    margin-top: 10px;
    font-style: italic;
    background-color: #343a4085;  
    color: white;
    margin-left: 92px;
    margin-bottom: 10px;
}
p{
    color: rgb(0, 153, 255);
}
.list{
    margin-left: 300px;
}