<div class="rinoplastic">
   <h1>Семинар «Безоперационная ринопластика»</h1>
   <span>
      <p>Теоретическая часть:</p>

      <ol>
         <li>Преимущества коррекции зоны носа филлерами на основе ГК</li>
         <li>Показания и противопоказания к проведению процедуры</li>
         <li>Особенности сбора анамнеза</li>
         <li>Классификация филлеров и требования к ним</li>
         <li>Преимущества филлеров швейцарской лаборатории Xcelens</li>
         <li>Анатомия зоны носа, опасные зоны введения (строение, особенности кровоснабжения, иннервация)</li>
         <li>«Идеальный нос»: эстетические ориентиры, «золотая» пропорция носа</li>
      </ol>
   </span>
   <br>
   <span>
      <p>Подходы к коррекции:</p>

      <ol class="list">
         <li>назиона</li>

         <li>риниона</li>

         <li>плоского кончика носа</li>

         <li>опущенного кончика носа</li>

         <li>«римского», «орлиного» носа</li>

         <li>искривленного носа</li>

         <li>cужение риниона</li>

         <li>техника выполнения безоперационной ринопластики</li>

         <li>игла или канюля: как сделать правильный выбор</li>

         <li>использование ботулотоксина: нюансы и особенности</li>

         <li>совместимость с другими косметологическими процедурами</li>

         <li>профилактика осложнений и способы их коррекции</li>

         <li>реабилитация после вмешательства, постпроцедурное ведение</li>

         <li>границы возможностей безоперационной ринопластики</li>
      </ol>
   </span>
   <p>
      Практическая часть
   </p>
   <p>
      Мастер-класс с демонстрацией процедуры безоперационной ринопластики на модели.
   </p>
</div>