<div class="complications">
    <h1>«Осложнения в инъекционной косметологии: причины, программы реабилитации и способы профилактики»</h1>
    <span>
        <p>Теоретическая часть:</p>
        <ol>
            <li>Анатомический ликбез: фундаментальные основы и опасные зоны</li>
            <li>Правила сбора анамнеза</li>
            <li>«Ты узнаешь его из тысячи»: как распознать пациента, имеющего противопоказания к проведению инъекционных
                процедур</li>
            <li>Что должно быть в аптечке косметолога</li>
            <li>Обзор всех ботулотоксинов, представленных на рынке Украины</li>
            <li>Нежелательные явления и распространенные осложнения ботулинотерапии (птоз,болевые синдромы,
                аллергические реакции и др.)</li>
            <li>Способы коррекции осложнений ботулинотерапии: лечебные мероприятия и схемы реабилитации</li>
            <li>Принципы выбора филлера для контурной пластики</li>
            <li>Нежелательные явления и распространенные осложнения контурной пластики(отеки, гематомы, локальные
                воспалительные процессы, появление гранулем,
                гиперкоррекция, аллергические реакции, контурирование и миграция филлера, обострение герпетической
                инфекции, эмболия сосудов)</li>
            <li>Способы коррекции осложнений контурной пластики: лечебные мероприятия и схемы реабилитации</li>
            <li>Нитевой лифтинг – секрет вечной молодости или «ходьба по минному полю»?</li>
            <li>Нежелательные явления и распространенные осложнения нитевого лифтинга (гнойно-воспалительные процессы,
                миграция нитей, контурирование нитей, пигментация, повреждение нервов, аллергические реакции, нарушения
                мимики,
                стойкое нарушение контура, втяжение нитей в местах проколов и др.)</li>
            <li>Способы коррекции осложнений нитевого лифтинга: лечебные мероприятия и схемы реабилитации</li>
            <li>Модные веяния и возможные риски: гидроксиапатит кальция, полинуклеотиды, препараты
                карбоксиметилцеллюлозы</li>
            <li>Последствия использования липолитиков для коррекции носа</li>
            <li>Результаты визуализационных исследований (УЗИ кожи) в динамике в период реабилитации (в рамках семинара
                с тренером Оксаной Дидур)</li>
            <li>Место плацентарных препаратов в комплексных схемах реабилитации: кому, когда, зачем </li>
            <li>Принципы оказания неотложной помощи </li>
        </ol>

    </span>
    <br>
    <p>
        Разбор клинических случаев из практики тренера/участников семинара либо практическая часть (при наличии модели).
    </p>
</div>