<div class="details">
    <div class="text">

        <img class="local" src="assets/img/genyalift.png" alt="">

        <hr>
        <button (click)="showdescription()" class="btn-details" id="myBtn"> Опиcание:</button>
        <span id="showdescription">+</span> <span id="hidedescription">-</span>

        <span id="description">
            <p>
                Биоревитализант последнего поколения, первый объемный биоревитализант и единственный в своем роде
                биоревитализант «ретард» Genyal Genyalift может быть использован не только на коже лица, но и в таких
                областях, как шея или внутренняя поверхность рук. Формула препарата обеспечивает укрепление стенок
                микроциркуляторных сосудов, восстановление локального кровообращения, увеличение регенераторного
                потенциала кожи и активизацию обменных процессов в месте введения препарата.
            </p>
            <ul>
                <li> Страна: Швейцария</li>
                <li>Производитель: GENYAL</li>
                <li>Объем \ Форма выпуска: 1 шприц/1 мл</li>
            </ul>
        </span>
        <hr>

        <button (click)="showpenance()" class="btn-details" id="myBtnPenance">Показания:</button>
        <span id="showpenance">+</span> <span id="hidepenance">-</span>
        <span id="penance">
            <ul class="penance">
                <li> профилактика старения, дегидратации, гиперпигментации </li>
                <li> восстановление микроциркуляции, эластичности, упругости кожи </li>
                <li> стимуляция регенерации и обменных процессов в области коррекции </li>
                <li> терапия фотостарения и гиперпигментации </li>
                <li>подготовка к лазерной и фототерапии </li>
                <li> послеоперационная реабилитация </li>
                <li> использование в комплексной коррекции рубцов и стрий</li>
            </ul>
        </span>
        <hr>

        <button (click)="showstructure()" class="btn-details" id="myBtnStruct">Состав:</button>
        <span id="showstructure">+</span> <span id="hidestructure">-</span>
        <span id="structure">
            <p>Уникальное сочетание высокой концентрации (18мг/мл) с размером молекул 3 млн дальтон обеспечивает
                максимальную длительность эффекта, а значит, и несравненный результат.
                Резонатором гидратации и биостимуляции выступает глицерол в концентрации 20мг/мл.
                Физиологичный pH 7.1 создает максимальный комфорт для пациента – даже сразу после процедуры субъективные
                ощущения пациента на обработанном участке кожи и интактном идентичны.
                Создаваемая с помощью препарата интрадермальная среда максимально физиологична. Это обеспечивает
                длительную и интенсивную стимуляцию фибробластов.
            </p>
            <ul class="structure">
                <li>Концентрация ГК – 18 мг/мл </li>
                <li>Стабилизатор – Глицерол 20 мг/мл</li>
                <li>Динамическая вязкость – 150 000 mPa.s</li>
                <li>Молекулярная масса – 3 mln di Dalton</li>
                <li>Белки (PPM) – 14</li>
                <li>Энтотоксинов (EU/G) – < 0,05</li>
                <li>Игла 30G/ канюля 30 G</li>
            </ul>
        </span>
        <hr>

        <button (click)="showprotocol()" class="btn-details" id="myBtnProtocol">Протокол:</button>
        <span id="showprotocol">+</span> <span id="hideprotocol">-</span>
        <span id="protocol">
            <p>
                Препарат вводится интрадермально, папульно или линейно в зависимости от цели использования.
                Режим применения препарата назначается врачом-эстетистом индивидуально, в зависимости от состояния кожи
                пациента. Стандартная схема включает в себя 2-3 первичные процедуры с небольшим интервалом (15-30 дней)
                с последующим закрепление результата через 2-3 месяца.
            </p>
        </span>
        <hr>

    </div>
</div>