<div class="brandcard" id="card1">
<img src="assets/img/xcelens.png" alt="">
   <div class="description">  
    <h1>Xcelens</h1>
    <p>Препараты для контурной пластики</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="xcelens" type="button">
     <span btn-description>Подробно</span>
  </button>
</div>

<div class="brandcard" id="card2">
    <img src="assets/img/genyal.png" alt="">
   <div class="description">  
    <h1>Genyal</h1>
    <p>Препараты для контурной пластики</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="genyal" type="button">
     <span btn-description>Подробно</span>
  </button>
</div>

<div class="brandcard" id="card3">
    <img src="assets/img/melsmon.png" alt="">
   <div class="description">  
    <h1>Melsmon</h1>
    <p>Плацента</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="melsmon" type="button">
     <span btn-description>Подробно</span>
  </button>
</div>

<div class="brandcard" id="card4">
    <img src="assets/img/dentisy.png" alt="">
   <div class="description">  
    <h1>Density Platelet</h1>
    <p>PRP-терапия</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="density" type="button">
     <span btn-description>Подробно</span>
  </button>
</div>

<div class="brandcard" id="card5">
    <img src="assets/img/ejal.png" alt="">
   <div class="description">  
    <h1>Ejal 40</h1>
    <p>Препарат для биоревитализации</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="ejal" type="button">
     <span btn-description>Подробно</span>
  </button>
</div>

<div class="brandcard" id="card6">
    <img src="assets/img/peptidyal.png" alt="">
   <div class="description">  
    <h1>Peptidyal</h1>
    <p>Препарат для биоревитализации</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="peptidyal" type="button">
     <span btn-description>Подробно</span>
  </button>
</div>

<div class="brandcard" id="card7">
    <img src="assets/img/115.png" alt="">
   <div class="description">  
    <h1>Peptidyal 115</h1>
    <p>Препарат для биоревитализации</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="peptidyal115" type="button">
     <span btn-description>Подробно</span>
  </button>
</div>

<div class="brandcard" id="card8">
    <img src="assets/img/hyamino.png" alt="">
   <div class="description">  
    <h1>Hyamino Care 75</h1>
    <p>Препарат для биоревитализации</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="hyamino" type="button">
     <span btn-description>Подробно</span>
  </button>
</div>

<div class="brandcard" id="card9">
    <img src="assets/img/doublyx.png" alt="">
   <div class="description">  
    <h1>Doublyx evo</h1>
    <p>Препарат для биоревитализации</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="doublyx" type="button">
     <span btn-description>Подробно</span>
  </button>
</div>

<div class="brandcard" id="card10">
    <img src="assets/img/peptidyal2.png" alt="">
   <div class="description">  
    <h1>Peptidyal 2</h1>
    <p>Препарат для биоревитализации</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="peptidyal2" type="button">
     <span btn-description>Подробно</span>
  </button>
</div>

<div class="brandcard" id="card11">
    <img src="assets/img/jpx3bio.png" alt="">
   <div class="description">  
    <h1>JPX3bio</h1>
    <p>Пилинги</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="jpx3bio" type="button">
     <span btn-description>Подробно</span>
  </button>
</div>

<div class="brandcard" id="card12">
    <img src="assets/img/makropeel.png" alt="">
   <div class="description">  
    <h1>Makropeel</h1>
    <p>Пилинги</p>
  </div>
  <button class="details nav-link" routerLinkActive="active" routerLink="makropeel" type="button">
     <span btn-description>Подробно</span>
  </button>
</div> 

