<div class="brandcard" id="card1">
    <img class="local" src="assets/img/xcelens.png" alt="">
       <div class="description">  
        <h1>Xcelens 3</h1>
      </div>
      <button class="details nav-link" routerLinkActive="active" routerLink="xcelens3-details" type="button">
         <span btn-description>Подробно</span>
      </button>
    </div>
   
    
<div class="brandcard" id="card2">
    <img class="local" src="assets/img/xcelens4.png" alt="">
       <div class="description">  
        <h1>Xcelens 4</h1>
      </div>
      <button class="details nav-link" routerLinkActive="active" routerLink="xcelens4-details" type="button">
         <span btn-description>Подробно</span>
      </button>
    </div>
   
  